<div class="row">
	<div class="col-sm-4 text-left">
	  <%= image_tag("logo.png", :alt => "Bogot치app", style:"height: 120px; width: 120px;") %>
	  <br/>
	  Tu Localidad al alcance de un tap
	</div>
	<div class="col-sm-4 text-center">
	  <%= image_tag("user1.jpg", :alt => "Bogot치app", style:"height: 80px; width: 80px;") %>
	  <br/>
	  Avatar
	  <br/>
	  Alias: <i>por definir</i>
	  <br/>
	<%= image_tag("bogotaapp_points.png", :alt => "Settings", style:"height: 15px; width: 15px;") %> 
	Puntos actuales: <b>35</b> - Hist칩rico puntos: <i>152</i>
	</div>
	<div class="col-sm-4 text-right">
	  Usuario: <b><i>Pepito Perez</i></b>
	  <br/>
	  Localidad: <b>Puente Aranda</b>
	  <br/>
	  Antiguedad en esta localidad: <b>2 meses</b>
	  <p style="cursor: pointer;" onclick="javascript:config();">
	    <%= image_tag("cog.png", :alt => "Settings", style:"height: 20px; width: 20px;") %> 
	    Configuraci칩n de Cuenta
	  </p>
	</div>
</div>